@charset "UTF-8";
.lt_nav {
  padding: 10px;
}
.lt_nav ul {
  display: flex;
  flex-wrap: wrap;
}
.lt_nav li {
  width: 33.3%;
}
.lt_nav li a {
  width: 100%;
  display: block;
}
.lt_nav li img {
  width: 100%;
  display: block;
}
